body {
  font-size: 1em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  display: block;
  margin: 50px auto 16px auto;
  border-radius: 50%;
}

.paragraph::first-line {
  font-size: 1.1em;
  font-weight: bold;
}

.paragraph {
  margin: 0% 29%;
}
