div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
  margin: 50px auto 16px auto;
  border-radius: 50%;
}

p::first-line {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  margin: 0% 29%;
}

body {
  font-size: 1em;
}
