body {
  margin: 0;
}

.unorderedlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  float: left;
}

.link {
  display: block;
  background-color: var(--green);
  color: #ffffff;
  padding: 24px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.link:hover {
  color: #080808;
  background-color: #ffa500;
}
