.myform {
  border: 1px solid var(--gray3);
  box-sizing: border-box;
  width: 40;
  margin: 7em auto;
  margin-top: 30px;
  height: 600px;
  padding-left: 16px;
  border-radius: 10px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
}

.username {
  display: inline-block;
  width: 27%;
  font-weight: bold;
}

.email {
  display: inline-block;
  width: 27%;
  font-weight: bold;
}

.password {
  display: inline-block;
  width: 27%;
  font-weight: bold;
}

input {
  width: 68%;
  height: 26px;
  border-radius: 0px;
  border: 1.5px solid var(--gray3);
  margin-top: auto;
}

.field {
  border: 0px none;
  font-weight: bold;
  margin: 0px;
  padding: 1px;
  margin-top: 30px;
}

.radiobtn {
  display: block;
  float: left;
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  width: 13px;
  height: 13px;
}

.newsletter {
  display: block;
  font-weight: lighter;
  margin-left: 50px;
}

label.date {
  padding-right: 50px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 1px;
  font-weight: bold;
  margin-bottom: 8px;
}

input.date {
  width: 68%;
  height: 26px;
  border-radius: 0px;
  border: 1.5px solid var(--gray3);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 4px;
  margin-top: 25px;
  margin-bottom: 8px;
  font-weight: bold;
}

.btn {
  border: 1px solid var(--green);
  width: 46.5%;
  height: 46%;
  padding: 10px;
  border-radius: 3px;
}

.primary {
  background-color: var(--green);
  color: var(--white);
  float: left;
  margin-right: 4px;
}

.primary:hover {
  color: var(--black);
  background-color: var(--orange);
  border-radius: 2px;
  border-color: var(--black);
  border-style: solid;
}

.secondary {
  background-color: var(--white);
  color: var(--green);
  margin-left: 2px;
}

.main {
  margin-bottom: 30px;
}
