body {
  background: rgb(246, 219, 231);
  background: radial-gradient(
    circle,
    rgba(246, 219, 231, 1) 0%,
    rgba(194, 214, 238, 1) 100%
  );
  margin: 0;
}

h1 {
  text-align: center;
}

/* Code for exercise 01-flex  */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--purple);
  margin-top: 0px;
  padding: 0;
}

.nav-links {
  list-style: none;
}

.link {
  display: block;
  color: var(--white);
  padding: 30px;
  text-decoration: none;
}

.link:hover {
  color: var(--white);
  background-color: var(--green);
}

.link:active {
  color: var(--white);
  background-color: var(--orange);
}

.link:focus {
  border: 1px solid var(--orange);
}

/* Code for exercise 02-grid */

h1 {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  height: 97vh;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-right: 5px;
  padding-left: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
  gap: 5px;
  grid-template-areas:
    "header"
    "Jumbotron"
    "section"
    "card1"
    "card2"
    "footer";
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: Jumbotron;
}
.item3 {
  grid-area: card1;
}
.item4 {
  grid-area: card2;
}
.item5 {
  grid-area: card3;
}
.item6 {
  grid-area: section;
}
.item7 {
  grid-area: footer;
}

@media (min-width: 415px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    padding-top: 20px;
    padding-bottom: 80px;
    height: 90vh;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    gap: 5px;
    grid-template-areas:
      "header   header"
      "Jumbotron    Jumbotron"
      "section  section"
      "card1 card2"
      "footer   footer";
  }
}

@media (min-width: 769px) {
  .grid-container {
    display: grid;
    height: 90vh;
    padding-top: 20px;
    padding-bottom: 100px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 4fr 1fr;
    gap: 5px;
    grid-template-areas:
      "header   header    header"
      "Jumbotron    Jumbotron Jumbotron"
      "card1 card2    card3"
      "section  section   section"
      "footer   footer    footer";
  }
}

@media (max-width: 768px) {
  .item5 {
    display: none;
  }
}
