#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drinks {
  width: 200px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0.5rem solid var(--white);
}

.figure {
  width: 100%;
  margin-bottom: 20px;
}

.drinks:hover {
  border: 0.5rem solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}

.drinkname {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .drinks {
    width: 24%;
  }
}

@media screen and (max-width: 768px) {
  .drinks {
    width: 38%;
  }
  .drinkname {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 414px) {
  .drinks {
    width: 80%;
  }
}
